.nav{
    background-color: orange;
    ul{
        li{
            &:hover{
                background-color: yellowgreen;
                a{
                    color: #fff;
                }
            }
        }
    }
}